# Environment
.venv/
.env
*.env

# IDE / Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage

# Logs - Ignores the entire 'logs' directory
/logs/

# Build artifacts
dist/
build/
*.egg-info/

# Input/Output directories
/input/
/output/

# User-uploaded files (example, adjust if needed)
/uploads/
*.pdf

# Documentation
git-cheat-sheet.md

# Node modules
node_modules/

prompts/default_analysis/
#prompts/templates/*

*.log
result.md
result.json
fileintel-image.tar
debug_similarity.py
cheatsheet_venv.md
cheatsheet_git.md
cheatsheet_docker.md
#src/graphrag/*
CLAUDE.md
graphrag_indices/*
*.tar
/examples/*

#Graphrag
src/graphrag/__init__.py
src/graphrag/__main__.py
src/graphrag/py.typed
src/graphrag/api/__init__.py
src/graphrag/api/index.py
src/graphrag/api/prompt_tune.py
src/graphrag/api/query.py
src/graphrag/cache/__init__.py
src/graphrag/cache/factory.py
src/graphrag/cache/json_pipeline_cache.py
src/graphrag/cache/memory_pipeline_cache.py
src/graphrag/cache/noop_pipeline_cache.py
src/graphrag/cache/pipeline_cache.py
src/graphrag/callbacks/__init__.py
src/graphrag/callbacks/console_workflow_callbacks.py
src/graphrag/callbacks/llm_callbacks.py
src/graphrag/callbacks/noop_query_callbacks.py
src/graphrag/callbacks/noop_workflow_callbacks.py
src/graphrag/callbacks/query_callbacks.py
src/graphrag/callbacks/workflow_callbacks_manager.py
src/graphrag/callbacks/workflow_callbacks.py
src/graphrag/cli/__init__.py
src/graphrag/cli/index.py
src/graphrag/cli/initialize.py
src/graphrag/cli/main.py
src/graphrag/cli/prompt_tune.py
src/graphrag/cli/query.py
src/graphrag/config/__init__.py
src/graphrag/config/create_graphrag_config.py
src/graphrag/config/defaults.py
src/graphrag/config/embeddings.py
src/graphrag/config/enums.py
src/graphrag/config/environment_reader.py
src/graphrag/config/errors.py
src/graphrag/config/get_embedding_settings.py
src/graphrag/config/init_content.py
src/graphrag/config/load_config.py
src/graphrag/config/read_dotenv.py
src/graphrag/config/models/__init__.py
src/graphrag/config/models/basic_search_config.py
src/graphrag/config/models/cache_config.py
src/graphrag/config/models/chunking_config.py
src/graphrag/config/models/cluster_graph_config.py
src/graphrag/config/models/community_reports_config.py
src/graphrag/config/models/drift_search_config.py
src/graphrag/config/models/embed_graph_config.py
src/graphrag/config/models/extract_claims_config.py
src/graphrag/config/models/extract_graph_config.py
src/graphrag/config/models/extract_graph_nlp_config.py
src/graphrag/config/models/global_search_config.py
src/graphrag/config/models/graph_rag_config.py
src/graphrag/config/models/input_config.py
src/graphrag/config/models/language_model_config.py
src/graphrag/config/models/local_search_config.py
src/graphrag/config/models/prune_graph_config.py
src/graphrag/config/models/reporting_config.py
src/graphrag/config/models/snapshots_config.py
src/graphrag/config/models/storage_config.py
src/graphrag/config/models/summarize_descriptions_config.py
src/graphrag/config/models/text_embedding_config.py
src/graphrag/config/models/umap_config.py
src/graphrag/config/models/vector_store_config.py
src/graphrag/data_model/__init__.py
src/graphrag/data_model/community_report.py
src/graphrag/data_model/community.py
src/graphrag/data_model/covariate.py
src/graphrag/data_model/document.py
src/graphrag/data_model/entity.py
src/graphrag/data_model/identified.py
src/graphrag/data_model/named.py
src/graphrag/data_model/relationship.py
src/graphrag/data_model/schemas.py
src/graphrag/data_model/text_unit.py
src/graphrag/data_model/types.py
src/graphrag/index/__init__.py
src/graphrag/index/validate_config.py
src/graphrag/index/input/__init__.py
src/graphrag/index/input/csv.py
src/graphrag/index/input/factory.py
src/graphrag/index/input/json.py
src/graphrag/index/input/text.py
src/graphrag/index/input/util.py
src/graphrag/index/operations/__init__.py
src/graphrag/index/operations/cluster_graph.py
src/graphrag/index/operations/compute_degree.py
src/graphrag/index/operations/compute_edge_combined_degree.py
src/graphrag/index/operations/create_graph.py
src/graphrag/index/operations/finalize_community_reports.py
src/graphrag/index/operations/finalize_entities.py
src/graphrag/index/operations/finalize_relationships.py
src/graphrag/index/operations/graph_to_dataframes.py
src/graphrag/index/operations/prune_graph.py
src/graphrag/index/operations/snapshot_graphml.py
src/graphrag/index/operations/build_noun_graph/__init__.py
src/graphrag/index/operations/build_noun_graph/build_noun_graph.py
src/graphrag/index/operations/build_noun_graph/np_extractors/__init__.py
src/graphrag/index/operations/build_noun_graph/np_extractors/base.py
src/graphrag/index/operations/build_noun_graph/np_extractors/cfg_extractor.py
src/graphrag/index/operations/build_noun_graph/np_extractors/factory.py
src/graphrag/index/operations/build_noun_graph/np_extractors/np_validator.py
src/graphrag/index/operations/build_noun_graph/np_extractors/regex_extractor.py
src/graphrag/index/operations/build_noun_graph/np_extractors/resource_loader.py
src/graphrag/index/operations/build_noun_graph/np_extractors/stop_words.py
src/graphrag/index/operations/build_noun_graph/np_extractors/syntactic_parsing_extractor.py
src/graphrag/index/operations/chunk_text/__init__.py
src/graphrag/index/operations/chunk_text/bootstrap.py
src/graphrag/index/operations/chunk_text/chunk_text.py
src/graphrag/index/operations/chunk_text/strategies.py
src/graphrag/index/operations/chunk_text/typing.py
src/graphrag/index/operations/embed_graph/__init__.py
src/graphrag/index/operations/embed_graph/embed_graph.py
src/graphrag/index/operations/embed_graph/embed_node2vec.py
src/graphrag/index/operations/embed_graph/typing.py
src/graphrag/index/operations/embed_text/__init__.py
src/graphrag/index/operations/embed_text/embed_text.py
src/graphrag/index/operations/embed_text/strategies/__init__.py
src/graphrag/index/operations/embed_text/strategies/mock.py
src/graphrag/index/operations/embed_text/strategies/openai.py
src/graphrag/index/operations/embed_text/strategies/typing.py
src/graphrag/index/operations/extract_covariates/__init__.py
src/graphrag/index/operations/extract_covariates/claim_extractor.py
src/graphrag/index/operations/extract_covariates/extract_covariates.py
src/graphrag/index/operations/extract_covariates/typing.py
src/graphrag/index/operations/extract_graph/__init__.py
src/graphrag/index/operations/extract_graph/extract_graph.py
src/graphrag/index/operations/extract_graph/graph_extractor.py
src/graphrag/index/operations/extract_graph/graph_intelligence_strategy.py
src/graphrag/index/operations/extract_graph/typing.py
src/graphrag/index/operations/layout_graph/__init__.py
src/graphrag/index/operations/layout_graph/layout_graph.py
src/graphrag/index/operations/layout_graph/typing.py
src/graphrag/index/operations/layout_graph/umap.py
src/graphrag/index/operations/layout_graph/zero.py
src/graphrag/index/operations/summarize_communities/__init__.py
src/graphrag/index/operations/summarize_communities/build_mixed_context.py
src/graphrag/index/operations/summarize_communities/community_reports_extractor.py
src/graphrag/index/operations/summarize_communities/explode_communities.py
src/graphrag/index/operations/summarize_communities/strategies.py
src/graphrag/index/operations/summarize_communities/summarize_communities.py
src/graphrag/index/operations/summarize_communities/typing.py
src/graphrag/index/operations/summarize_communities/utils.py
src/graphrag/index/operations/summarize_communities/graph_context/__init__.py
src/graphrag/index/operations/summarize_communities/graph_context/context_builder.py
src/graphrag/index/operations/summarize_communities/graph_context/sort_context.py
src/graphrag/index/operations/summarize_communities/text_unit_context/__init__.py
src/graphrag/index/operations/summarize_communities/text_unit_context/context_builder.py
src/graphrag/index/operations/summarize_communities/text_unit_context/prep_text_units.py
src/graphrag/index/operations/summarize_communities/text_unit_context/sort_context.py
src/graphrag/index/operations/summarize_descriptions/__init__.py
src/graphrag/index/operations/summarize_descriptions/description_summary_extractor.py
src/graphrag/index/operations/summarize_descriptions/graph_intelligence_strategy.py
src/graphrag/index/operations/summarize_descriptions/summarize_descriptions.py
src/graphrag/index/operations/summarize_descriptions/typing.py
src/graphrag/index/run/__init__.py
src/graphrag/index/run/run_pipeline.py
src/graphrag/index/run/utils.py
src/graphrag/index/text_splitting/__init__.py
src/graphrag/index/text_splitting/check_token_limit.py
src/graphrag/index/text_splitting/text_splitting.py
src/graphrag/index/typing/__init__.py
src/graphrag/index/typing/context.py
src/graphrag/index/typing/error_handler.py
src/graphrag/index/typing/pipeline_run_result.py
src/graphrag/index/typing/pipeline.py
src/graphrag/index/typing/state.py
src/graphrag/index/typing/stats.py
src/graphrag/index/typing/workflow.py
src/graphrag/index/update/__init__.py
src/graphrag/index/update/communities.py
src/graphrag/index/update/entities.py
src/graphrag/index/update/incremental_index.py
src/graphrag/index/update/relationships.py
src/graphrag/index/utils/__init__.py
src/graphrag/index/utils/dataframes.py
src/graphrag/index/utils/derive_from_rows.py
src/graphrag/index/utils/dicts.py
src/graphrag/index/utils/graphs.py
src/graphrag/index/utils/hashing.py
src/graphrag/index/utils/is_null.py
src/graphrag/index/utils/rate_limiter.py
src/graphrag/index/utils/stable_lcc.py
src/graphrag/index/utils/string.py
src/graphrag/index/utils/tokens.py
src/graphrag/index/utils/uuid.py
src/graphrag/index/workflows/__init__.py
src/graphrag/index/workflows/create_base_text_units.py
src/graphrag/index/workflows/create_communities.py
src/graphrag/index/workflows/create_community_reports_text.py
src/graphrag/index/workflows/create_community_reports.py
src/graphrag/index/workflows/create_final_documents.py
src/graphrag/index/workflows/create_final_text_units.py
src/graphrag/index/workflows/extract_covariates.py
src/graphrag/index/workflows/extract_graph_nlp.py
src/graphrag/index/workflows/extract_graph.py
src/graphrag/index/workflows/factory.py
src/graphrag/index/workflows/finalize_graph.py
src/graphrag/index/workflows/generate_text_embeddings.py
src/graphrag/index/workflows/load_input_documents.py
src/graphrag/index/workflows/load_update_documents.py
src/graphrag/index/workflows/prune_graph.py
src/graphrag/index/workflows/update_clean_state.py
src/graphrag/index/workflows/update_communities.py
src/graphrag/index/workflows/update_community_reports.py
src/graphrag/index/workflows/update_covariates.py
src/graphrag/index/workflows/update_entities_relationships.py
src/graphrag/index/workflows/update_final_documents.py
src/graphrag/index/workflows/update_text_embeddings.py
src/graphrag/index/workflows/update_text_units.py
src/graphrag/language_model/__init__.py
src/graphrag/language_model/factory.py
src/graphrag/language_model/manager.py
src/graphrag/language_model/cache/__init__.py
src/graphrag/language_model/cache/base.py
src/graphrag/language_model/events/__init__.py
src/graphrag/language_model/events/base.py
src/graphrag/language_model/protocol/__init__.py
src/graphrag/language_model/protocol/base.py
src/graphrag/language_model/providers/__init__.py
src/graphrag/language_model/providers/fnllm/__init__.py
src/graphrag/language_model/providers/fnllm/cache.py
src/graphrag/language_model/providers/fnllm/events.py
#src/graphrag/language_model/providers/fnllm/models.py
src/graphrag/language_model/providers/fnllm/utils.py
src/graphrag/language_model/response/__init__.py
src/graphrag/language_model/response/base.py
src/graphrag/language_model/response/base.pyi
src/graphrag/logger/__init__.py
src/graphrag/logger/blob_workflow_logger.py
src/graphrag/logger/factory.py
src/graphrag/logger/progress.py
src/graphrag/logger/standard_logging.py
src/graphrag/prompt_tune/__init__.py
src/graphrag/prompt_tune/defaults.py
src/graphrag/prompt_tune/types.py
src/graphrag/prompt_tune/generator/__init__.py
src/graphrag/prompt_tune/generator/community_report_rating.py
src/graphrag/prompt_tune/generator/community_report_summarization.py
src/graphrag/prompt_tune/generator/community_reporter_role.py
src/graphrag/prompt_tune/generator/domain.py
src/graphrag/prompt_tune/generator/entity_relationship.py
src/graphrag/prompt_tune/generator/entity_summarization_prompt.py
src/graphrag/prompt_tune/generator/entity_types.py
src/graphrag/prompt_tune/generator/extract_graph_prompt.py
src/graphrag/prompt_tune/generator/language.py
src/graphrag/prompt_tune/generator/persona.py
src/graphrag/prompt_tune/loader/__init__.py
src/graphrag/prompt_tune/loader/input.py
src/graphrag/prompt_tune/prompt/__init__.py
src/graphrag/prompt_tune/prompt/community_report_rating.py
src/graphrag/prompt_tune/prompt/community_reporter_role.py
src/graphrag/prompt_tune/prompt/domain.py
src/graphrag/prompt_tune/prompt/entity_relationship.py
src/graphrag/prompt_tune/prompt/entity_types.py
src/graphrag/prompt_tune/prompt/language.py
src/graphrag/prompt_tune/prompt/persona.py
src/graphrag/prompt_tune/template/__init__.py
src/graphrag/prompt_tune/template/community_report_summarization.py
src/graphrag/prompt_tune/template/entity_summarization.py
src/graphrag/prompt_tune/template/extract_graph.py
src/graphrag/prompts/__init__.py
src/graphrag/prompts/index/__init__.py
src/graphrag/prompts/index/community_report_text_units.py
src/graphrag/prompts/index/community_report.py
src/graphrag/prompts/index/extract_claims.py
src/graphrag/prompts/index/extract_graph_bak2.py
src/graphrag/prompts/index/extract_graph_orig.py
src/graphrag/prompts/index/extract_graph.py
src/graphrag/prompts/index/summarize_descriptions.py
src/graphrag/prompts/query/__init__.py
src/graphrag/prompts/query/basic_search_system_prompt.py
src/graphrag/prompts/query/drift_search_system_prompt.py
src/graphrag/prompts/query/global_search_knowledge_system_prompt.py
src/graphrag/prompts/query/global_search_map_system_prompt.py
src/graphrag/prompts/query/global_search_reduce_system_prompt.py
src/graphrag/prompts/query/local_search_system_prompt.py
src/graphrag/prompts/query/question_gen_system_prompt.py
src/graphrag/query/__init__.py
src/graphrag/query/factory.py
src/graphrag/query/indexer_adapters.py
src/graphrag/query/context_builder/__init__.py
src/graphrag/query/context_builder/builders.py
src/graphrag/query/context_builder/community_context.py
src/graphrag/query/context_builder/conversation_history.py
src/graphrag/query/context_builder/dynamic_community_selection.py
src/graphrag/query/context_builder/entity_extraction.py
src/graphrag/query/context_builder/local_context.py
src/graphrag/query/context_builder/rate_prompt.py
src/graphrag/query/context_builder/rate_relevancy.py
src/graphrag/query/context_builder/source_context.py
src/graphrag/query/input/__init__.py
src/graphrag/query/input/loaders/__init__.py
src/graphrag/query/input/loaders/dfs.py
src/graphrag/query/input/loaders/utils.py
src/graphrag/query/input/retrieval/__init__.py
src/graphrag/query/input/retrieval/community_reports.py
src/graphrag/query/input/retrieval/covariates.py
src/graphrag/query/input/retrieval/entities.py
src/graphrag/query/input/retrieval/relationships.py
src/graphrag/query/input/retrieval/text_units.py
src/graphrag/query/llm/__init__.py
src/graphrag/query/llm/text_utils.py
src/graphrag/query/question_gen/__init__.py
src/graphrag/query/question_gen/base.py
src/graphrag/query/question_gen/local_gen.py
src/graphrag/query/structured_search/__init__.py
src/graphrag/query/structured_search/base.py
src/graphrag/query/structured_search/basic_search/__init__.py
src/graphrag/query/structured_search/basic_search/basic_context.py
src/graphrag/query/structured_search/basic_search/search.py
src/graphrag/query/structured_search/drift_search/__init__.py
src/graphrag/query/structured_search/drift_search/action.py
src/graphrag/query/structured_search/drift_search/drift_context.py
src/graphrag/query/structured_search/drift_search/primer.py
src/graphrag/query/structured_search/drift_search/search.py
src/graphrag/query/structured_search/drift_search/state.py
src/graphrag/query/structured_search/global_search/__init__.py
src/graphrag/query/structured_search/global_search/community_context.py
src/graphrag/query/structured_search/global_search/search.py
src/graphrag/query/structured_search/local_search/__init__.py
src/graphrag/query/structured_search/local_search/mixed_context.py
src/graphrag/query/structured_search/local_search/search.py
src/graphrag/storage/__init__.py
src/graphrag/storage/blob_pipeline_storage.py
src/graphrag/storage/cosmosdb_pipeline_storage.py
src/graphrag/storage/factory.py
src/graphrag/storage/file_pipeline_storage.py
src/graphrag/storage/memory_pipeline_storage.py
src/graphrag/storage/pipeline_storage.py
src/graphrag/utils/__init__.py
src/graphrag/utils/api.py
src/graphrag/utils/cli.py
src/graphrag/utils/storage.py
src/graphrag/vector_stores/__init__.py
src/graphrag/vector_stores/azure_ai_search.py
src/graphrag/vector_stores/base.py
src/graphrag/vector_stores/cosmosdb.py
src/graphrag/vector_stores/factory.py
src/graphrag/vector_stores/lancedb.py
